a,
div,
span,
h1,
h2,
h3,
h4,
label,
h5,
h6,
button {
  font-family: 'Noto Sans', sans-serif;
}

body {
  overflow-y: scroll !important;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.page-title {
  font-size: 36pt;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

text {
  font-size: 0.500rem;
}

.w100 {
  width: 100%;
}

.w60 {
  width: 60%;
}

.tcenter {
  text-align: center;
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glass-card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-card-min {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-card-no-radius {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.login_form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
}

.login_form_logo_container {
  box-sizing: border-box;
  text-align: center;
}

.login_form_logo_container .logo {
  max-width: 50%;

}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-input-icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 23px;
}

.login-input-icon-right {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 90%;
  bottom: 20px;
}

.input_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.icon-form-field {
  padding: 20px !important;
  padding-left: 40px !important;

}

.btn-red {
  background-color: #ED1C24 !important;
}

.btn-black {
  background-color: #000 !important;
}

.sign_in_btn {
  width: 60%;
  height: 40px;
  border-radius: 2rem !important;
  outline: none;
  cursor: pointer;
  padding: 2rem !important;
  margin: 1.5rem !important;
  font-size: 14pt !important;
  font-weight: bold !important;
}

.password-toggle {
  position: relative !important;
  left: 91%;
  top: -47px;
}

.fh {
  height: auto;
  min-height: 100vh;
}

.no_mp {
  margin: 0px !important;
  padding: 0px !important;
}

.dFlex-jcsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search_input {
  border: 2px solid #ED1C24;
  border-radius: 40px;
  padding: 10px 40px;
  outline: none;
}

.search_input_btn {
  position: relative;
  left: -49px;
}

.search_input_btn svg {
  font-weight: bold;
  font-size: 1.9rem;
}

.side-menu {
  background-color: #ED1C24;
  position: fixed;
  width: inherit;
  z-index: 10;
}

.app-sidemenu-bar li {
  list-style: none !important;
}

.app-sidemenu-bar li span {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  overflow: hidden;
}

.app-sidemenu-bar-item a {
  text-decoration: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.app-sidemenu-bar-item a:hover {
  color: #CCC;
}

.app-sidemenu-bar-item svg{
  margin-right: 0.5rem;
}
/* .app-sidemenu-bar-item img {
  margin-right: 1rem;
  height: 25px;
  width: 25px;
} */

.app-sidemenu-bar-item.active {
  background-color: #B50007;
  color: #FFF;
  width: 100%;
}

.app-sidemenu-bar-item.active .accordion {
  background-color: #B50007;
  color: #FFF;
  width: 100%;
}

.splash-logo {
  text-align: center;
}

.vertical-line {
  width: 3px;
  background-color: #8B8E98;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
}



.MuiCircularProgress-colorPrimary {
  color: #FFF !important;
}

.MuiCircularProgress-colorInfo {
  color: #000 !important;
}

.MuiCircularProgress-colorSecondary {
  color: red !important;
}

.card {
  box-shadow: 2px 4px 4px 4px rgba(112, 112, 112, 0.37);
  background-color: #FFF;
  border: none !important;
}

.MuiDataGrid-columnHeaderTitleContainerContent .MuiDataGrid-columnHeaderTitle {
  font-size: 18px;
  font-weight: bold !important;
}

.MuiDataGrid-cellContent {
  font-size: 18px;
}

.MuiButtonBase-root {
  text-transform: capitalize !important;
}

.MuiTab-textColorPrimary {
  color: #000 !important;
}

.MuiTab-root {
  font-weight: bold !important;
  font-size: 24px !important;
}

.MuiTabs-indicator {
  background-color: #ED1C24 !important;
  height: 6px !important;
  width: 48px !important;

}

.search_order_input {
  border: 2px solid #BBBBBB;
  border-radius: 8px;
  padding-right: 40px;
  padding-left: 15px;
  height: 54px;
}

.search_order_btn {
  position: relative !important;
  left: -41px;
  color: #000 !important;
  border-radius: 50px !important;
}

.justify-content-space-between {
  justify-content: space-between;
}

.create_order_btn {
  background-color: #ED1C24 !important;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.create_order_btn_icon {
  font-size: 30px !important;
  margin-bottom: 2px !important;
}

.form-group label.required:after {
  content: "*";
  color: red;
}

.section-title {
  font-size: 28pt;
  font-weight: bold;
}

.semibold {
  font-weight: 600 !important;
}

.section-sub-title {
  font-size: 21px;
  font-weight: 600;
}

.profile-btn {
  font-size: 21px !important;
  font-weight: bold !important;
  color: #2A2A2A !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.align-items-center {
  align-items: center;
}

.pr-input {
  height: 37.9px !important;
  width: 100% !important;
}

.select2 div {
  padding: 3.3px !important;
}

.bg-pink {
  background-color: #FFA5A5;
}

.bg-green {
  background-color: #BAE5B7;
}

.bg-red {
  background-color: #ED1C24 !important;
}

.bg-dark-green {
  background-color: #3EA30A;
}

.num-badge-big {
  padding: 1rem 1.6rem 1rem 1.6rem;
  border-radius: 1.3rem;
}

.submit-btn {
  border-radius: 2rem !important;
  height: 42pt !important;
  background-color: #ED1C24 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 21px !important;
  font-weight: bold !important;
}

.notes {
  border: 1px solid #CCC;
  border-radius: 4px;
}

.text-red {
  color: #ED1C24;
}

.vd {
  margin-left: 15px;
  margin-right: 15px;
  width: 2px;
  background: #ccc;
  height: 46px;
}

.modal-text-header {
  font-size: 22pt;
  font-size: bold;
  text-align: center;
}

.model-header-wrapper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-content {
  border-radius: 5px !important;
}

.rbt {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: #FFF !important;
  font-weight: bold !important;
}

.btn-round {
  border-radius: 30px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.text-bold {
  font-weight: bold !important;
}

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: 4px solid red !important;
}

.nav-tabs .nav-item button {
  font-weight: bold !important;
  font-size: 24px !important;
  color: #898989;
}

a {
  text-decoration: none !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #ED1C24 !important;
}

.print-only {
  display: none;
}

.mobile-side-menu-offcanvas {
  background-color: #ED1C24 !important;
}

.mobile-side-menu-offcanvas .offcanvas-body {
  padding: 0px !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.dotted-file-upload-conatiner {
  border: 2px dashed #D9D9D9;
  border-radius: 5px;
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.page-error {
  height: 80vh !important;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.page-error div {
  max-height: 350px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-error img {
  width: 50%;
}

.bg-img-vhicle {
  background-image: url('/public/assets/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

.center-content {
  justify-content: center;
}

.sign-canvas-wrapper {}

.sigCanvas {
  border: 2px dashed #CCC;
}

.yellow-dot {
  background-color: #e5e510;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
}

.green-dot {
  background-color: #3EA30A;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
}

.floating-btn {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 99;
  border: none !important;
  box-shadow: 2px 2px 2px 2px CCC;
  background-color: transparent;

}

.floating-btn img {
  height: 50px;
  width: 50px;
}

.offcanvas-end {
  width: 77vw !important;
}

@media (max-width: 990px) {
  .password-toggle {

    left: 81%;
  }

  .dFlex-jcsb {
    width: 100% !important;
  }
}

.bg-red {
  background-color: #F44336;
  color: #FFF !important;
}

.bg-pink {
  background-color: #E91E63;
  color: #FFF !important;

}
.accordion-body ul li {
  padding-bottom: 10px !important;

}

.accordion-button.collapsed {
  color: white !important;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* Add this CSS to your stylesheet */
.accordion-collapse {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.collapsed .accordion-button:after {
  display: none !important;
}

.p-tabview-ink-bar {
  display: none !important;
}

.p-tabview-nav-link {
  color: grey !important;
}

.p-tabview-selected .p-tabview-nav-link {
  color: #6366f1 !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: red !important;
}

.accordion {
  margin-top: 1rem;
}
.progress {
  margin-top: 20px;
  height: 25px;

}

.accordion-item:first-of-type>.accordion-header .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.bg-green {
  background-color: green !important;
}
.bg-blue{
  background-color: #2196F3;
}

.btn {
  color: white !important;
}
.accordion{
  background-color: inherit !important;
  outline: none !important;
}
.accordion .accordion-item {
  background-color: inherit !important;
  border-radius: 0px !important;
  border: none !important;
  outline: none !important;
}
.accordion-button.collapsed{
  background-color: inherit !important;
  margin-left: -7px !important;
}
.accordion-button{
  background-color: inherit !important;
  outline: none !important;
  margin-left: -7px !important;
}
.accordion-button:focus{
  box-shadow: none !important;
}
.accordion-body ul {
  padding-left: 0px !important;
}
.moi-links .material-symbols-outlined{
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
}
.moi-links a strong{
  color: #000;
  font-size: 1.1rem;
}



/* bpms */

ol, ul{
  padding-left: 0px !important;
}